/*  MAKE LAYOUT RESPONSIVE at 999px FOR SMALLER SCREENS ================================================================ */
	
header {
	width: 100%; /* 960px / 999px */
}

footer {
	width: 100%; /* 960px / 999px */
}

#wrapper{
	#maincontentcontainer{
	  	section#home{
			.maincontent{
				width: 93.75%;
			}
		}
	  	section#video{
			.maincontent{
				width: 93.75%;
			}
		}
	  	section#newsletter{
			.maincontent{
				.content{
					width: 93.75%;
				}
			}
		}
		section#home-designs{
			.maincontent{
				#slideshow-projects{
					ul{
						li{
							.design-project {
								width: 50%;
								img{
									width: 100%;
									height: 100%;
								}
							}
						}
					}
				}
			}
		}
	  	section#poconos{
			.maincontent{
				width: 93.75%;
			}
		}
	  	section#media{
			.maincontent{
				width: 93.75%;
			}
		}
	  	section#about{
			.maincontent{
				width: 93.75%;
			}
		}
	  	section#inner-page{
			.maincontent{
				.content{
					width: 93.75%;
				}
				#slider-wrapper{
					#slideshow{
						ul{
							li{
								.text{
									.content-block{
										width: 93.75%;
									}
								}
							}
						}
					}
				}
				.houses{
					.wpcf7{
					}
				}
			}
		}
	}
}

		
