/*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */

header {
	width: 100%; /* 450px / 480px */
}

#wrapper{
	#headcontainer{
		header{
			background-color: @gray;
			-webkit-transition:background 0.5s ease;
			-moz-transition:background 0.5s ease;
			-o-transition:background 0.5s ease;
			-ms-transition:background 0.5s ease;
			transition:background 0.5s ease;
			background-image:none;
			#social-button{
				background: transparent url("images/social-button2.png") no-repeat 50% 50% !important;
				border-left: 1px solid @gray-separator !important;
			}
			#menu-button{
				border-left: 1px solid @gray-separator !important;
			}
			nav{
				ul{
					li{
						border-left: 1px solid @gray-separator !important;
						a{
							height: 20px !important;
							padding: 1em 2em !important;
							&:hover{
								height: 30px !important;
							}
						}
					}
				}
			}
		}
	}
	#maincontentcontainer{
	  	section#home{
	  		padding-bottom:0; 
	  		.mask{
	  			display: none;
	  		}
	  		.maincontent{
	  			padding: 5.55em 0 0;
	  			width: 100%;
	  			#box-form-home{
	  				width: 100%;
	  				.copy{
	  					display: none;
	  				}
	  				#form-home-designs{
	  					padding: 0;
	  					width: 100%;
  						.title{
  							h3{
  								font-size: 1.5em;
  							}
  						}
	  					form{
	  						padding: 19% 5% 25%;
	  						width: 90%;
	  					}
	  				}
	  			}
	  			.next-button{
	  				display: none;
	  			}
	  		}
	  	}
	  	section#video{
	  		padding: 2em 0px;
			.maincontent{
				width: 100%;
				#player-image{
					background-size: 100%;
					height: 390px;
					.player-button{
						background-size: 100%;
						height: 60px;
						left: 43%;
						top: 48%;
						width: 60px;
					}
				}
				#video-title{
					margin: 0 auto;
					position: relative;
					top:0;
					width: 90%;
				}
			}
		}
	  	section#newsletter{
			.maincontent{
				.content{
					width: 93.75%;
					div#cc_form_1{
						width: 93.75%;
					}
				}
			}
		}
		section#home-designs{
			.maincontent{
				#slideshow-projects{
					ul{
						li{
							.design-project {
								width: 100%;
							}
						}
					}
				}
			}
		}
	  	section#poconos{
	  		padding: 30% 0 15%;
			.maincontent{
				width: 93.75%;
				.section{
					h2{
						line-height: 1em;
						margin-bottom: 0.3em;
					}
					p{
						margin: 0.5em 0 0.5em;
					}
					img{
						display: none;
					}
				}
			}
		}
	  	section#media{
	  		padding: 30% 0 15%;
			.maincontent{
				width: 93.75%;
				article{
					border-bottom: 1px solid @gray-separator;
					p.date{
						margin-bottom: 1em;
						display: block;
					}
					h3{
						height: auto;
						margin-bottom: 1em;
					}
					p{
						display:none;
					}
					br{
						display:none;
					}
				}
				.pagination{
					margin-top: 3em;
				}	
			}
		}
	  	section#about{
	  		padding: 30% 0 15%;
			.maincontent{
				width: 93.75%;
				.topic{
					p, a.readmore{
						display: none;
					}
				}
			}
		}
		section#inner-page{
			.maincontent{
				.content{
					width: 93.75%;
				}
				#slider-wrapper{
					#slideshow{
						ul{
							li{
								.text{
									.content-block{
										width: 93.75%;
									}
								}
							}
						}
					}
				}
				.houses{
					.timelinr-1{
						.timeline{
							width: 100%;
							ul.dates{
								width: 22%;
								li{
									a{
									}
								}
							}
							ul.issues{ 
								width: 78%;
								li{
									width: 100%;
									h3{
									}
								}
							}
						}
					}
					.wpcf7{
						width: 100%;
						form{
							.tr{
								padding: 4% 2%;
								.td{
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
	#footercontainer{
		footer{
			width: 100%;
			.black-half{
				padding: 5em 0;
				.finder{
					height: auto;
				}
			}
			.gray-half{
				padding: 7em 0 5em;
				.contact-info{
					height: auto;
				}
			}
		}
	}
}
		

/*  GRID OF EIGHT TURNS INTO A GRID OF FOUR */

.span_8_of_8 {
	width: 100%; 
	margin-left: 0;
}

.span_7_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_6_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_5_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_4_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_3_of_8 {
	width: 74.2%;
	margin: 1% 0 1% 3.2%;
}

.span_2_of_8 {
	width: 48.4%;
	margin: 1% 0 1% 3.2%; 
}

.span_1_of_8 {
	width: 22.6%;
	margin: 1% 0 1% 3.2%; 
}

.span_1_of_8:nth-child(4n+1) { 
	clear: both;
	margin-left: 0;
}
		
/*  Except in the Example and in the Sample */

#example .maincontent .span_8_of_8 {
	width: 100%; 
	margin-left: 0;
}
#example .maincontent .span_7_of_8 {
	width: 100%; 
	margin-left: 0;
}
#example .maincontent .span_6_of_8 {
	width: 100%;
	margin-left: 0; 
}
#example .maincontent .span_5_of_8 {
	width: 100%; 
	margin-left: 0;
}
#example .maincontent .span_4_of_8 {
	width: 100%; 
	margin-left: 0;
}
#example .maincontent .span_3_of_8 {
	width: 100%;
	margin-left: 0; 
}
#example .maincontent .span_2_of_8 {
	width: 100%%; 
	margin-left: 0;
}
#example .maincontent .span_1_of_8 {
	width: 100%; 
	margin-left: 0;
}

#sample .maincontent .span_8_of_8 {
	width: 100%; 
	margin-left: 0;
}
#sample .maincontent .span_7_of_8 {
	width: 100%; 
	margin-left: 0;
}
#sample .maincontent .span_6_of_8 {
	width: 100%;
	margin-left: 0; 
}
#sample .maincontent .span_5_of_8 {
	width: 100%; 
	margin-left: 0;
}
#sample .maincontent .span_4_of_8 {
	width: 100%; 
	margin-left: 0;
}
#sample .maincontent .span_3_of_8 {
	width: 100%;
	margin-left: 0; 
}
#sample .maincontent .span_2_of_8 {
	width: 100%%; 
	margin-left: 0;
}
#sample .maincontent .span_1_of_8 {
	width: 100%; 
	margin-left: 0;
}