/*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */
	
header {
	width: 100%; /* 720px / 768px */
}

.span_6_of_12_complete {
	width: 100%; 
}

#wrapper{
	#maincontentcontainer{
	  	section#home{
			.maincontent{
				width: 93.75%;
			}
		}
	  	section#video{
	  		padding: 2em 0px;
			.maincontent{
				width: 93.75%;
				#player-image{
					background-size: 100%;
					.player-button{
						background-size: 100%;
						left: 43%;
						top: 50%;
					}
				}
				#video-title{
					margin: 0 auto;
					position: relative;
					top:0;
					width: 90%;
				}
			}
		}
	  	section#newsletter{
			.maincontent{
				.content{
					width: 93.75%;
					p{
						width: 100%;
					}
					form{
						width: 100%;
					}
				}
			}
		}
		section#home-designs{
			.maincontent{
				#slideshow-projects{
					ul{
						li{
							.design-project {
								width: 50%;
							}
						}
					}
				}
			}
		}
	  	section#poconos{
			.maincontent{
				width: 93.75%;
			}
		}
	  	section#media{
			.maincontent{
				width: 93.75%;
			}
		}
	  	section#about{
			.maincontent{
				width: 93.75%;
			}
		}
	  	section#inner-page{
			.maincontent{
				.content{
					width: 93.75%;
				}
				#slider-wrapper{
					#slideshow{
						ul{
							li{
								.text{
									.content-block{
										width: 93.75%;
									}
								}
							}
						}
					}
				}
				.houses{
					.wpcf7{
						width: 93.75%;
					}
				}
			}
		}
	}

	#footercontainer{
		footer{
			width: 100%;
			.black-half{
				padding: 10em 0;
				.finder{
					height: auto;
					width: 90%;
				}
			}
			.gray-half{
				padding: 10em 0;
				.contact-info{
					height: auto;
					float: none;
					margin: 0 auto;
					width: 42%;
				}
			}
		}
	}
}
		
