// IMPORT FONTS

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@custom-light: 'nexa_lightregular', sans-serif;
@custom-bold: 'nexa_boldregular', sans-serif;
@default: 'Open Sans', sans-serif;

@font-face {
    font-family: 'nexa_boldregular';
    src: url('css/fonts/Nexa_Bold-webfont.eot');
    src: url('css/fonts/Nexa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Nexa_Bold-webfont.woff') format('woff'),
         url('css/fonts/Nexa_Bold-webfont.ttf') format('truetype'),
         url('css/fonts/Nexa_Bold-webfont.svg#nexa_boldregular') format('svg');
}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('css/fonts/Nexa_Light-webfont.eot');
    src: url('css/fonts/Nexa_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/Nexa_Light-webfont.woff') format('woff'),
         url('css/fonts/Nexa_Light-webfont.ttf') format('truetype'),
         url('css/fonts/Nexa_Light-webfont.svg#nexa_lightregular') format('svg');
}

//COLORS 

@white:#ffffff;
@black:#1c1c1c;
@text:#888888;
@link:#bc223a;
@linkover:#5d5d5d;
@light-red-text:#bc2e45;
@gray-bg:#f5f5f5;
@lightgray:#d5d5d5;
@gray:#2a2a2a;
@darkgray:#232323;
@gray-separator:#323436;
@gray-text:#999999;
@date:#b1ac9a;
@yellow-rss:#df9c16;
@blue-facebook:#36589c;
@blue-twitter:#2db2d9;
@beige:#b1ac9a;

// COMMON HELPERS

.list(){
    list-style: none;
    padding-left: 1em;
    background: transparent url("images/list-bullet.png") no-repeat;
}

.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

// CSS3 CUSTOM STYLES
.opacity(@opacity: .9, @ie-opacity: 90){
    opacity: @opacity; /* other browsers and IE9+ */  
    filter: alpha(opacity=@ie-opacity); /* IE6+ */
}
.inline(){
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;   
}
.rounded(@radius: 10px){
    -moz-border-radius:@radius; /* Firefox */  
    -webkit-border-radius:@radius; /* Safari and chrome */ 
    -khtml-border-radius:@radius; /* Linux browsers */  
    border-radius:@radius; /* CSS3 */    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(PIE.php);
}
.shadow(@x-axis: 0px, @y-axis: 1px, @blur: 3px, @shadow-color: #bdc2be){
    box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */    
    -moz-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */
	-webkit-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Safari and Chrome */
    behavior: url(PIE.php);
}
.gradient(@color: #CCC, @start: #ffffff, @end: #f2f2f2){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@start) to(@end)); /*old webkit*/
    background: -webkit-linear-gradient(@start, @end); /*new webkit*/
    background: -moz-linear-gradient(@start, @end); /*gecko*/
    background: -ms-linear-gradient(@start, @end); /*IE10*/
    background: -o-linear-gradient(@start, @end); /*opera 11.10+*/
    background: linear-gradient(@start, @end); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(PIE.php);
}
.rotate(@deg: 180deg, @ie-deg: 2) {
    -webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@ie-deg);    
}
.shadow-text(@color:#8b8b8b;){
    -webkit-text-shadow: 0px 1px 2px @color;
    -moz-text-shadow: 0px 1px 2px @color;
    -khtml-text-shadow: 0px 1px 2px @color;
    text-shadow: 0px 1px 2px @color;
    filter: dropshadow(color=#8b8b8b, offx=0, offy=1);
}
.inner-shadow(@color:#949494;){
    -moz-box-shadow: inset 0 0 20px @color;
    -webkit-box-shadow: inset 0 0 20px @color;
    -khtml-box-shadow: inset 0 0 20px @color;
    box-shadow: inset 0 0 20px @color;
}