// BASIC PAGE SETUP 

body { 
	color: @text; 
	font: 100%/1.4 @default;	
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

p{
	color: @text;
	line-height: 1.62em;
}


// HEADINGS

h1, h2, h3, h4, h5, h6 {
	font-family: @custom-bold;
	font-weight: normal;
	text-transform: uppercase;
}

h1 { 
	font-size : 2.75em; /* 44 / 16 */
	line-height : 1.4;
	margin-bottom : .2em;
}


h2 { 
	color: @link;
	font-family: @custom-light;
	font-size : 2.5em; /* 40 / 16 */
	line-height : 1.2;
	margin-bottom : .5em;
}

h3 { 
	color: @link;
	font-size : 1.75em; /* 28 / 16 */
	line-height : 1.3;
	margin-bottom : .3em;
}


h4 {
	font-size : 1.5em; /* 24 / 16  */
	line-height : 1.25; 
	margin-bottom : .5em;
}

h5 {
	font-size : 1em; /* 20 / 16 */
	margin-bottom : 1.25em;
}

h6 {
	font-size : 1,12em; /* 18 / 16  */
}

	/* LINKS =============================================================================  */

a{ 
	color: @link;
	transition: all 0.3s ease;
	text-decoration: none;

	&:visited{ 
	color : @black;
	}

	&:focus{ 
	outline : thin dotted; 
	color : @text;
	}

	&:hover, 
	&:active{ 
	outline : 0;
	color : @linkover;
	}
}

// IMAGES 

img{
	border : 0;
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

// TABLES

table{ 
	border-collapse : collapse;
	border-spacing : 0;
	width : 100%;
}

// FORMS

button, 
search,
input, 
select, 
textarea { 
	font-family : @default;
	color: @text; 
	font-size : 100%; 
	margin : 0; 
	vertical-align : baseline; 
	*vertical-align : middle;
}

button, input { 
	line-height : normal; 
	*overflow : visible;
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	cursor : pointer; 
}

input[type="checkbox"], 
input[type="radio"] { 
	box-sizing : border-box;
}

input[type="search"] { 
	box-sizing : content-box;
}
input[type="text"]{
	background: none;
	border: 3px solid @white;
	color: @white;
	font-family: @custom-bold;
	padding: 0.8em 1.5em;
}
input[type="submit"], .view{
	background: rgba(0, 0, 0, 0.3);
	border: 3px solid @link;
	color: @white;
	font-family: @custom-bold;
	padding: 0.8em 1.5em;
	text-transform: uppercase;
	transition: all 0.3s ease;
	&:hover{
		background: @link;
		color: @white;
		transition: all 0.3s ease;
	}
}

/*PRELOADER*/
#loaderMask{
    text-align: center;
    padding-top: 20%;
    z-index: 9999;
}
#loaderMask span{
	color: @link;
    font-size: 5em;
	font-family: @custom-bold;
}

a.view{
	color: @link;
	&:hover{
		color: @black;
	}
}
.center{
	text-align: center !important;
}

//  MAIN LAYOUT

#wrapper {
	width: 100%;
	position: relative;
	text-align: left;
	// Header Inner Page
	#inner-headcontainer{
		height: 89px;
		position: fixed;
		width: 100%;
		z-index: 9990;
		zoom: 1;
		header.inner-header{
			background-color: @gray;
			overflow: hidden;
			position: relative;
			.back{
				background: @link;
				float: left;
				height: 89px;
				width: 89px;
				a{
					background: url("images/back.png") no-repeat center center;
					display: block;
					height: 89px;
					width: 89px;
				}
			}
			#logo{
				background:@white;
				height: 73px;
				float: left;
				padding: 8px 0px;
				text-align: center;
				vertical-align: top;
				width: 114px;
			}
			#options-bar{
				width: 100%;
				#social-button{
					background: transparent url("images/social-button2.png") no-repeat 50% 50%;
					border-left: 1px solid @gray-separator;
					cursor: pointer;
					float: right;
					height: 89px;
					width: 85px;
					ul.social-options{
						display: none;
						position: fixed;
						right: 0;
						top: 89px;
						width: 85px;
						li{
							border-top: 1px solid @gray-separator;
							display:block;
							list-style: none;
							a{
								background: url("images/social-network-icons.png") no-repeat;
								display:block;
								height: 85px;
								width: 85px;
							}
						}
						.facebook{
							a{
								text-indent: -9999px;
								background-color: @gray;
								background-position: 50% -27%;
								&:hover{
									background-color: @blue-facebook;
									background-position: 50% -27%;
								}
							}
						}
						.twitter{
							a{
								text-indent: -9999px; 
								background-color: @gray;
								background-position: 50% 50%;
								&:hover{
									background-color: @blue-twitter;
									background-position: 50% 50%;
								}
							}
						}
						.rss{
							a{
								background-color: @gray;
								background-position: 50% 128%;
								&:hover{
									background-color: @yellow-rss;
									background-position: 50% 128%;
								}
							}
						}
					}
				}
			}
		}
	}
	// Header Home Page
	#headcontainer{
		height: 89px;
		position: fixed;
		width: 100%;
		z-index: 9990;
		zoom: 1;
		.grayback{
			background-color: @gray;
			-webkit-transition:background 0.5s ease;
			-moz-transition:background 0.5s ease;
			-o-transition:background 0.5s ease;
			-ms-transition:background 0.5s ease;
			transition:background 0.5s ease;
			background-image:none;
			#social-button{
				background: transparent url("images/social-button2.png") no-repeat 50% 50% !important;
				border-left: 1px solid @gray-separator !important;
			}
			#menu-button{
				border-left: 1px solid @gray-separator !important;
			}
			nav{
				ul{
					li{
						border-left: 1px solid @gray-separator !important;
					}
				}
			}
		}
		header{
			background-color:rgba(255, 255, 255, 0.4); 
			background-image:url("images/pattern-white.png");
			overflow: hidden;
			position: relative;

			-webkit-transition:background 0.5s;
			-moz-transition:background 0.5s;
			-o-transition:background 0.5s;
			-ms-transition:background 0.5s;
			transition:background 0.5s;
			#logo{
				background:@white;
				height: 73px;
				float: left;
				padding: 8px 0px;
				text-align: center;
				vertical-align: top;
				width: 114px;
			}
			#options-bar{
				width: 100%;
				#social-button{
					background: transparent url("images/social-button.png") no-repeat 50% 50%;
					border-left: 1px solid @white;
					cursor: pointer;
					float: right;
					height: 89px;
					width: 85px;
					ul.social-options{
						display: none;
						position: fixed;
						right: 0;
						top: 89px;
						width: 85px;
						li{
							border-top: 1px solid @gray-separator;
							display:block;
							list-style: none;
							a{
								background: url("images/social-network-icons.png") no-repeat;
								display:block;
								height: 85px;
								width: 85px;
							}
						}
						.facebook{
							a{
								background-color: @gray;
								background-position: 50% -27%;
								&:hover{
									background-color: @blue-facebook;
									background-position: 50% -27%;
								}
							}
						}
						.twitter{
							a{
								background-color: @gray;
								background-position: 50% 50%;
								&:hover{
									background-color: @blue-twitter;
									background-position: 50% 50%;
								}
							}
						}
						.rss{
							a{
								background-color: @gray;
								background-position: 50% 128%;
								&:hover{
									background-color: @yellow-rss;
									background-position: 50% 128%;
								}
							}
						}
					}
				}
				#menu-button{
					display: none;
					p{
						padding: 3em 0;
					}
				}
				nav{
					float: right;
					ul{
						font-size: 0;
						.mp0();
						li{
							border-left: 1px solid @white;
							display: inline-block;
							font-size: 12.8px;
							list-style: none;
							vertical-align:top;
							a{
								border-top: 7px solid rgba(255, 255, 255, 0);
								color: @linkover;
								display: inline-block;
								height: 28px;
								font-family: @custom-bold;
								font-size: 12.8px;
								padding: 2em;
								text-transform: uppercase;
								vertical-align:top;
								width: auto;
								&:hover{
									border-top: 7px solid @link;
									color: @link;
									height: 28px;
								}
							}
						}
					}
				}
			}
		}
	}
	#maincontentcontainer{
		width: 100%;
		position: relative;
		section#home{
			background: url("images/bg-home.jpg") no-repeat center top;
			position: relative;
			padding-bottom: 2em;
			.mask{
				background: url("images/mask.png") no-repeat bottom center;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 123px;
				width: 100%;
			}
			.maincontent{
				clear: both;
				max-width: 62.5em;
				margin: 0 auto;
				padding: 12.2em 0 0;
				width:1000px;  /*width: 52.6%;*/
				#box-form-home{
					background:rgba(0, 0, 0, 0.4) url("images/pattern-black.png");
					margin: 0 auto;
					overflow: hidden;
					padding-bottom: 3%;
					width: 830px;
					.copy{
						float: left;
						padding-top: 73px;
						width: 43%;
						h2{
							color: @light-red-text;
							font-family: @custom-bold;
							font-size: 4.8em;
							line-height: 0.85em;
							text-align: right;
							text-transform: uppercase;
							span{
								color: @white;
							}
						}
					}
					#form-home-designs{
						float: left;
						padding: 0 2.4% 0 6%;
						width: 48.6%;
						.title{
							background: @link;
							padding: 6% 3% 6%;
							margin-bottom: 3%;
							width: 94%;
							h3{
								color: @white;
								font-family: @custom-light;
								font-size: 1.6em;
								line-height: 1.1em;
								margin-bottom: 0;
								text-transform: uppercase;
							}
						}
						form{
							color: @white;
							font-family: @custom-bold;
							text-transform: uppercase;
							label{
								color: @white;
								font-family: @custom-bold;
								margin-right: 1em;
								text-transform: uppercase;
							}
							input[type="number"], select{
								border-radius: 0px !important;
								background: rgba(0, 0, 0, 0.3);
								border: 3px solid @white;
								color: @white;
								font-family: @custom-bold;
								text-align: center;
								padding: 0.3em 0.3em;
							}
							input[type="number"]{
								width: 35px;
							}
							input[type=checkbox] {
								visibility: hidden;
							}
							.checkbox-1 {
								display: inline-block;
								width: 25px; 
								height: 25px; 
								margin-left: 10px;
								position: relative;
								.gradient();
							}
							.checkbox-1 label { 
								background:none; 
								display: block; 
								width: 25px; 
								height: 25px;
								cursor: pointer; 
								position: absolute; 
								top: 0; 
								left: 0; 
								z-index: 1;
								transition: all .3s ease; 
							}
							.checkbox-1 input[type=checkbox]:checked + label { 
								background: @link url("images/bg-check.png") no-repeat center center;
								width: 25px; 
								height: 25px; 
							}
							input[type="submit"]{
								margin-top: 5%;
								width: 100%;
							}
						}
					}
				}
				.next-button{
					background: @link url("images/arrow-next-button.png") no-repeat 50% 48%;
					display: block;
					height: 75px;
					margin: 90px auto;
					position: relative;
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					transform: rotate(45deg);
					width: 75px;

					transition: all 0.3s ease;
					a{	
						display: block;
						height: 75px;
						width: 75px;
					}
					&:hover{
						background: @white url("images/arrow-next-button2.png") no-repeat 50% 48%;
						transition: all 0.3s ease;
					}
				}
			}
		}
		section#video{
			padding: 3.5% 0px;
			position: relative;
			.maincontent{
				clear: both;
				max-width: 62.5em;
				margin: 0 auto;
				position: relative;
				width:1000px;  /*width: 52.6%;*/
				#player-image{
					background: url("images/bg-video.png") no-repeat center left;
					position: relative;
					height: 689px;
					.player-button{
						background: url("images/play-video-button.png") no-repeat;
						background-size: 100%;
						display: block;
						height: 112px;
						left: 19em;
						position: absolute;
						top: 50%;
						width: 112px;
						&:hover{
							background-position: bottom left;
							transition:background-position 0.3s;
							transition-timing-function: ease;
						}
					}
				}
				#video-title{
					right: 0;
					position: absolute;
					top: 200px;
					width: 390px;
					h2{
						font-family: @custom-light;
						font-size: 1.5em;
						margin-bottom: 0;
						text-indent: 0.5em;
						text-transform: uppercase;
					}
					.subtitle-red{
						background: @link;
						color: @white;
						font-family: @custom-bold;
						font-size: 4.3em;
						line-height: 1em;
						padding: 2% 2% 0;
						text-transform: uppercase;
						width: 96%;
					}
					.subtitle-black{
						background: @gray;
						color: @white;
						font-family: @custom-light;
						font-size: 3.2em;
						line-height: 1em;
						padding: 2% 2% 0;
						text-transform: uppercase;
						width: 96%;
					}
				}
			}
		}
		section#newsletter{
			padding: 5.5em 0 0;
			position: relative;
			.maincontent{
				background-image: url("images/pattern-black2.png"), url("images/bg-newsletter.jpg");
				background-position: 0 0, 0 25%;
				background-repeat: repeat, no-repeat;
				clear: both;
				padding: 6% 0;
				position: relative;
				width: 100%;
				.content{
					clear: both;
					max-width: 62.5em;
					margin: 0 auto;
					position: relative;
					width:1000px;  /*width: 52.6%;*/
					p{
						color: @white;
						font-family: @custom-light;
						font-size: 2.25em;
						line-height: 1.2em;
						text-transform: uppercase;
					}
					form{
						input[type="text"]{
						}
						input[type="submit"]{}
					}
					div#cc_form_1{
						background-color: transparent;
						border:none;
						width: 40.73%;/*width: auto;*/
						padding: 0;
						.kws_input_fields{
							float: left;
							text-align: left;
							.kws_input_container{
								float: left;
								margin-top: 0.5em;
							}
							.cc_email_address{
								margin-right: 0.5em;
							}
						}
					}
				}
			}
		}
		section#home-designs{
			background: @black;
			padding: 5.5em 0 0;
			position: relative;
			.maincontent{
				clear: both;
				position: relative;
				width: 100%;
				#slideshow-projects{
					position: relative;
					ul{
						overflow: hidden;
						.mp0();
						li{
							.design-project {
								background: @black;
								box-sizing: border-box;
								display: block;
								float: left;
								margin: 0 !important;
								position: relative;
								width: 25%;
								img {
									float: left;
									height: auto;
									width: auto;
								}
								.project-info {
									display: none;
									position: absolute;
									height: 300px;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
									margin: auto;
									padding: 0 10%;
									text-align: center;
									z-index: 99;
									h3 {
										color: @white;
										font-family: @custom-bold;
										font-size: 1.2em;
										line-height: 1.7em;
										margin: 0 0 0.5em 0;
										padding: 0 0 0.5em 0;
										text-transform: uppercase;
									}
									p {
										color: @gray-text;
										margin: 0 0 5% 0;
										padding: 0;
									}
									.button-view {
										display: block;
										a{
											color: @white;
											cursor: pointer;
											display: inline-block;
											margin-top: 0.5em;
											a:hover {
												color: @white;
											}
										}
									}
								}
							}
						}
					}
					ul.flex-direction-nav{	
						display: block;
						float: left;
						height: 80px;
						width: 100%;
						li{
							display: block;
							list-style: none;
							a{
								cursor: pointer;
								display: block;
								height: 80px;
								width: 50%;
							}
							a.flex-prev{	
								background: @gray-text url("images/arrow-prev.png") no-repeat 5% 66%;
								width: 50%;
								float: left;
								&:hover{
									background: @link url("images/arrow-prev.png") no-repeat 5% 66%;
								}
							}
							a.flex-next{
								background: @gray-text url("images/arrow-next.png") no-repeat 95% 66%;
								width: 50%;
								float: right;
								&:hover{
									background: @link url("images/arrow-next.png") no-repeat 95% 66%;
								}
							}
						}
					}
				}
			}
		}
		section#poconos{
			background: @gray-bg;
			padding: 10em 0;
			position: relative;
			.maincontent{
				clear: both;
				max-width: 62.5em;
				margin: 0 auto;
				position: relative;
				width:1000px;  /*width: 52.6%;*/
				.section{
					text-align: center;
					h2{
						color: @black;
						font-family: @custom-bold;
						text-align: center;
						text-transform: uppercase;
						font-size: 3.75em;
						span{
							color: @link;
							font-family: @custom-light;
						}
					}
					p{
						text-align: center;
						margin: 1em 0; 
					}
					a{
						background: none;
						display: inline-block;
						&:hover{
							background: @link;
							color: @white;
						}
					}
				}
			}
		}
		section#media{
			background: @darkgray;
			padding: 10em 0 7em;
			position: relative;
			.maincontent{
				clear: both;
				max-width: 62.5em;
				margin: 0 auto;
				position: relative;
				width:1000px;  /*width: 52.6%;*/
				#slideshow-media{
					width: 100%;
					position: relative;
					ul{
						overflow: hidden;
						.mp0();
						li{
							article{
								max-height: 498px;
								overflow: hidden;
								p.date{
									color: @beige;
									margin-bottom: 1em;
									time{
									font-style: italic;
									font-weight: bold;
									}
								}
								h3{
									color: @link;
									font-size: 1.5em;
									height: 4em;
									line-height: 1.2em;
									margin-bottom: 1em;
									text-transform: uppercase;
									a{
										color: @link;
										&:hover{
											color: @link;
											text-decoration: underline;
										}
									}
								}
								p{
									line-height: 1.5em;
									a{
										color: @link;
										&:hover{
											color: @white;
											text-decoration: underline;
										}
									}
								}
							}
						}
					}
					ol{
						margin-top: 3em;
						text-align: center;
						width: 100%;
						li{
							display: inline-block;
							margin: 0 1em;
							a{
								background: @white;
								border:3px solid @white; 
								display: inline-block;
								height: 0.6em;
								text-indent: -9999px;
								width: 0.6em;
								.rounded();
								&:hover{
									background: transparent;
									border:3px solid @link;
								}
							}
							a.flex-active{
								background: @link;
								border:3px solid @link;
								.rounded();
							}
						}
					}
				}
			}
		}
		section#about{
			background: @gray-bg;
			padding: 8em 0;
			position: relative;
			.maincontent{
				clear: both;
				max-width: 62.5em;
				margin: 0 auto;
				position: relative;
				width:1000px;  /*width: 52.6%;*/
				.topic{
					padding: 0 4%;
					text-align: center;
					margin-bottom: 0.5em;
					width: 92%;
					.icon{
						background-color: @link;
						display: block;
						height: 75px;
						margin: 0 auto 2em;
						-ms-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						transform: rotate(45deg);
						width: 75px;
					}
					.history{
						background-image: url("images/history-icon.png");
						background-position: 52% 54%;
						background-repeat: no-repeat;
					}
					.promise{
						background-image: url("images/promise-icon.png");
						background-position: 47% 48%;
						background-repeat: no-repeat;
					}
					.studio{
						background-image: url("images/design-icon.png");
						background-position: 48% 50%;
						background-repeat: no-repeat;
					}
					.financing{
						background-image: url("images/financing-icon.png");
						background-position: 52% 51%;
						background-repeat: no-repeat;
					}
					h3{
						color: @black;
						font-size: 1.12em;
						text-transform: uppercase;
						margin-bottom: 2em;
						a{
							&:hover{
								color: @link;
							}
						}
					}
					p{
						margin-bottom: 1em;
					}
					a.readmore{
						border-top: 1px solid #a4283c;
						color: #a4283c;
						display: inline-block;
						padding: 0 2.5em;
						span{
							background: #f5f5f5;
							display: block;
							font-style: italic;
							font-weight: bold;
							margin-top: -0.8em;
							padding: 0 0.4em;
						}
						&:hover{
							color: @black;
						}
					}
				}
			}
		}
		section#inner-page{
			padding: 9em 0 0;
			position: relative;
			.maincontent{
				clear: both;
				padding:0;
				position: relative;
				width: 100%;
				.content{
					clear: both;
					max-width: 62.5em;
					margin: 0 auto 4em;
					position: relative;
					text-align: center;
					width:1000px;  /*width: 52.6%;*/
					h1{
						color: @black;
						font-family: @custom-bold;
						text-align: center;
						text-transform: uppercase;
						font-size: 3.75em;
						line-height: 1em;
						span{
							color: @link;
							font-family: @custom-light;
						}
					}
					p{
						span.highlight{
							color: @link;
							font-size: 1.8em;
							text-transform: uppercase;
							font-weight: 400;
							line-height: 1.3em;
						}
					}
				}
				#slider-wrapper{
					#slideshow{
						width: 100%;
						position: relative;
						overflow: hidden;
						ol{
							position: absolute;
							bottom: 1em;
							text-align: center;
							width: 100%;
							z-index: 999;
							li{
								display: inline-block;
								margin: 0 1em;
								a{
									background: @white;
									border:3px solid @white; 
									display: inline-block;
									height: 0.6em;
									text-indent: -9999px;
									width: 0.6em;
									.rounded();
									&:hover{
										background: transparent;
										border:3px solid @link;
									}
								}
								a.flex-active{
									background: @link;
									border:3px solid @link;
									.rounded();
								}
							}
						}
						ul{
							.mp0();
							li{
								.image{
									height: auto;
									width: auto;
									img{
										float: left;
										max-width: 400%;
										background-position: center center;
									}
								}
								.text{
									background-color: rgba(0, 0, 0, 0.5);
									background-image: url("images/pattern-black.png");
									position: absolute;
									text-align: center;
									left: 0;
									bottom: 0;
									padding: 2em 0 3em;
									width: 100%;
									.content-block{
										clear: both;
										max-width: 62.5em;
										margin: 0 auto 2em;
										position: relative;
										width: 52.6%;

									h2{
										color: @white;
										font-size: 1.5em;
									}
									p{
										color: @white;
									}
									}
								}

							}
						}
					}
				}
				.houses{
					.timelinr-1{
						.timeline{
							width: 500px;
							ul.dates{
								width: 100px;
								li{
									background: none;
									padding-left:0; 
									a{
										color: @link;
										font-family: @custom-bold;
									}
								}
							}
							ul.issues{
								padding:100px 0;  
								width: 400px;
								li{
									background: none;
									padding-left:0; 
									h3{
										color: @black;
										text-align: center;
										text-transform: inherit;
										text-shadow:none;
									}
								}
							}
						}
					}
					.ngg-galleryoverview{
						margin-top: 50px;
						.ngg-gallery-thumbnail-box{
							.ngg-gallery-thumbnail{
								a{
									img{
										background: none;
										border: none;
									}
								}
							}
						}
					}
					.wpcf7{
						width: 700px;
						margin: 0 auto;
						form{
							border:3px solid @gray-bg;
							.tr{
								float: left;
								padding: 2% 2%;
								width: 96%;
								&:nth-child(odd){
									background: @gray-bg;
								}
								.td{
									float: left;
									width: 50%;
								}
								span.wpcf7-form-control-wrap{
									input.wpcf7-captchar{
										width: 114px !important;
									}
								}
							}
							.optional{
								background:@black !important;
								color: @white;
							}
							.btns{
								clear: both;
								padding: 2% 2%;
							}
							select{
								height: 3.2em;
								width: 95% !important;
							}
							input[type="text"], input[type="email"], select, textarea{
								background: none;
								border: 3px solid @link;
								color: @text;
								font-family: @custom-bold;
								margin-top: 0.4em;
								padding: 0.8em 1.5em;
								width: 80%;
							}
							input[type="submit"], input[type="reset"]{
								background: @white;
								border: 3px solid @link;
								color: @link;
								font-family: @custom-bold;
								padding: 0.8em 1.5em;
								text-transform: uppercase;
								transition: all 0.3s ease;
								&:hover{
									background: @link;
									color: @white;
									transition: all 0.3s ease;
								}
							}
						}
					}
					ul{
						li{
							.list();
						}
					}
					.referral{
						border:3px solid @gray-bg;
						.tr{
							padding: 1.5em 2em;
							span.highlight{
								color: @link;
							}
						}
						.title{
							background: @link;
							h2{
								color:@white;
								margin-bottom: 0;
							}
						}
						.requirements{
							background: @gray-bg;
						}
					}
				}
			}
		}
	}
	#footercontainer{
		position: realtive;
		footer{
			text-transform: uppercase;
			.black-half{
				background: @darkgray;
				display: block;
				float: left;
				padding: 18em 0;
				.finder{
					color: @white;
					font-family: @custom-bold;
					float: right;
					text-align: center;
					height: 200px;
					padding: 0 2em;
					h3{
						color: @white;
						font-size: 2.25em;
						margin-bottom: 1em;
					}
					.button-finder{
						display: block;
						a{
							color: @white;
							display: inline-block;
						}
					}
				}
			}
			.gray-half{
				background: @lightgray;
				display: block;
				float: left;
				padding: 18em 0;
				.contact-info{
					font-family: @custom-bold;
					color: @black;
					float: left;
					height: 200px;
					padding: 0 2em;
					.e-mail{
						background: url("images/contact-icons.png") no-repeat 0 0;
						margin-bottom: 1em;
						padding: 0.2em 0 1em 4em;
						a{
							color: @black;
							&:hover{
								color: @link;
							}
						}
					}
					.phone{
						background: url("images/contact-icons.png") no-repeat 0 -66px;
						margin-bottom: 1em;
						padding: 0.2em 0 1em 4em;
					}
					.address{
						background: url("images/contact-icons.png") no-repeat 0 -143px;
						margin-bottom: 1em;
						padding: 0.2em 0 1em 4em;
					}
				}
			}
			.copyright{
				text-align: center;
				width: 100%;
				p{
					line-height: 3.2em;
					a{
						color: @link;
						&:hover{
							color: @black;
						}
					}	
				}
			}
		}
	}
}

// VENDOR-SPECIFIC

html { 
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : rgb(52,158,219);
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%;}

.clearfix { 
zoom : 1; }

::-webkit-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::-moz-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
-webkit-appearance : button; }

::-webkit-input-placeholder {
font-size : .875em; 
line-height : 1.4; }

input:-moz-placeholder { 
font-size : .875em; 
line-height : 1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode : bicubic; }

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
-webkit-box-sizing : content-box;
-moz-box-sizing : content-box; }

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0; }

p {
/* http://www.w3.org/TR/css3-text/#hyphenation */
-webkit-hyphens : auto;
-webkit-hyphenate-character : "\2010";
-webkit-hyphenate-limit-after : 1;
-webkit-hyphenate-limit-before : 3;
-moz-hyphens : auto; }

/*  LESS THAN 1000 PIXELS  ============================================================================= */

@media only screen and (max-width: 1000px) {

	#wrapper{
		#maincontentcontainer{
		  	section#home{
				.maincontent{
					width: 93.75%;
					#box-form-home{
						padding-bottom: 3%;
						width: 100%;
						.copy{
							h2{
								/*font-size: 4.2em;*/
							}
						}
					}
				}
			}
		}
	}
}

/*  LESS THAN 1280 PIXELS  ============================================================================= */

@media only screen and (max-width: 1280px) {


	#menu-button{
		border-left: 1px solid @white;
		float: right;
		display: block !important;

		background: url("images/menu-icon.png") no-repeat 20px 32px;
		color: @linkover;
		display: block;
		height: 89px;
		font-family: @custom-bold;
		font-size: 0.8em;
		line-height: 6.95em; 
		padding: 0 2em 0 5em;
		text-transform: uppercase;
		width: auto;
		cursor:pointer;
		&:hover{
			color: @link;
		}
	}

	nav{
		background: @gray;
		float: none!important;
		display: none;
		position: fixed;
		right: 0;
		top: 89px;
		width: 320px;
		z-index: 999;
		ul{
			.mp0();
			li{
				border-top: 1px solid @gray-separator;
				border-left: none !important;
				display: block !important;
				list-style: none;
				vertical-align:top;
				a{
					border-top: none !important;
					color: @linkover;
					display: block !important;
					height: 28px;
					font-family: @custom-bold;
					font-size: 0.8em;
					/*line-height: 6.95em;
					line-height: 6.4em;*/
					padding: 2em;
					text-transform: uppercase;
					vertical-align:top;
					width: auto;
					&:hover{
						background: @darkgray;
						border-top: none !important;
						color: @link;
						/*line-height: 8em !important;*/
						height: 38px !important;
						/*line-height: 6.95em !important;*/
					}
				}
			}
		}
	}
}

/*  LESS THAN 320 PIXELS  ============================================================================= */

@media only screen and (max-width: 320px) {

	#wrapper{
		#headcontainer{
			header{
				#options-bar{
					#menu-button{
						background: url("images/menu-icon.png") no-repeat center center;
						p{
							display:none !important;
						}
					}
					nav{
						text-align: center;
						ul{
							li{
								a{
									&:hover{
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*  LESS THAN 600 PIXELS  ============================================================================= */

@media only screen and (max-width: 600px) {

	#wrapper{
		#headcontainer{
		}
		#maincontentcontainer{
			section#home{
		  		.maincontent{
		  			width: 100%;
		  			#box-form-home{
		  				width: 100%;
		  				.copy{
		  					display: none;
		  				}
		  				#form-home-designs{
		  					padding: 0;
		  					width: 100%;
		  					form{
		  						margin: 0 auto;
		  						width: 90%;
		  					}
		  				}
		  			}
		  		}
		  	}
		  	section#inner-page{
			.maincontent{
				.houses{
					.wpcf7{
					width: 100%;
						form{
							.tr{
								padding: 4% 2% 4%;
								.td{
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
		}
	}
}



