/* CSS crunched with Crunch - http://crunchapp.net/ */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
p{margin:0;}
.section{clear:both;padding:0px;margin:0px;}
.group:before,.group:after{content:"";display:table;}
.group:after{clear:both;}
.group{zoom:1;}
.col{display:block;float:left;margin:1% 0 1% 1.6%;}
.col:first-child{margin-left:0;}
@media only screen and (max-width:480px){.col{margin:1% 0 1% 0%;}}.span_2_of_2{width:100%;}
.span_1_of_2{width:49.2%;}
@media only screen and (max-width:480px){.span_2_of_2{width:100%;} .span_1_of_2{width:100%;}}.span_3_of_3{width:100%;}
.span_2_of_3{width:66.13%;}
.span_1_of_3{width:32.26%;}
@media only screen and (max-width:480px){.span_3_of_3{width:100%;} .span_2_of_3{width:100%;} .span_1_of_3{width:100%;}}.span_4_of_4{width:100%;}
.span_3_of_4{width:74.6%;}
.span_2_of_4{width:49.2%;}
.span_1_of_4{width:23.8%;}
.span_1_of_4_projects{width:25%;}
@media only screen and (max-width:1440px){.span_1_of_4_projects{width:50%;}}@media only screen and (max-width:480px){.span_4_of_4{width:100%;} .span_3_of_4{width:100%;} .span_2_of_4{width:100%;} .span_1_of_4{width:100%;} .span_1_of_4_projects{width:100%;}}.span_5_of_5{width:100%;}
.span_4_of_5{width:79.68%;}
.span_3_of_5{width:59.36%;}
.span_2_of_5{width:39.04%;}
.span_1_of_5{width:18.72%;}
@media only screen and (max-width:480px){.span_5_of_5{width:100%;} .span_4_of_5{width:100%;} .span_3_of_5{width:100%;} .span_2_of_5{width:100%;} .span_1_of_5{width:100%;}}.span_6_of_6{width:100%;}
.span_5_of_6{width:83.06%;}
.span_4_of_6{width:66.13%;}
.span_3_of_6{width:49.2%;}
.span_2_of_6{width:32.26%;}
.span_1_of_6{width:15.33%;}
@media only screen and (max-width:480px){.span_6_of_6{width:100%;} .span_5_of_6{width:100%;} .span_4_of_6{width:100%;} .span_3_of_6{width:100%;} .span_2_of_6{width:100%;} .span_1_of_6{width:100%;}}.span_7_of_7{width:100%;}
.span_6_of_7{width:85.48%;}
.span_5_of_7{width:70.97%;}
.span_4_of_7{width:56.45%;}
.span_3_of_7{width:41.94%;}
.span_2_of_7{width:27.42%;}
.span_1_of_7{width:12.91%;}
@media only screen and (max-width:480px){.span_7_of_7{width:100%;} .span_6_of_7{width:100%;} .span_5_of_7{width:100%;} .span_4_of_7{width:100%;} .span_3_of_7{width:100%;} .span_2_of_7{width:100%;} .span_1_of_7{width:100%;}}.span_8_of_8{width:100%;}
.span_7_of_8{width:87.3%;}
.span_6_of_8{width:74.6%;}
.span_5_of_8{width:61.9%;}
.span_4_of_8{width:49.2%;}
.span_3_of_8{width:36.5%;}
.span_2_of_8{width:23.8%;}
.span_1_of_8{width:11.1%;}
@media only screen and (max-width:480px){.span_8_of_8{width:100%;} .span_7_of_8{width:100%;} .span_6_of_8{width:100%;} .span_5_of_8{width:100%;} .span_4_of_8{width:100%;} .span_3_of_8{width:100%;} .span_2_of_8{width:100%;} .span_1_of_8{width:100%;}}.span_9_of_9{width:100%;}
.span_8_of_9{width:88.71%;}
.span_7_of_9{width:77.42%;}
.span_6_of_9{width:66.13%;}
.span_5_of_9{width:54.84%;}
.span_4_of_9{width:43.55%;}
.span_3_of_9{width:32.26%;}
.span_2_of_9{width:20.97%;}
.span_1_of_9{width:9.68%;}
@media only screen and (max-width:480px){.span_9_of_9{width:100%;} .span_8_of_9{width:100%;} .span_7_of_9{width:100%;} .span_6_of_9{width:100%;} .span_5_of_9{width:100%;} .span_4_of_9{width:100%;} .span_3_of_9{width:100%;} .span_2_of_9{width:100%;} .span_1_of_9{width:100%;}}.span_10_of_10{width:100%;}
.span_9_of_10{width:89.84%;}
.span_8_of_10{width:79.68%;}
.span_7_of_10{width:69.52%;}
.span_6_of_10{width:59.36%;}
.span_5_of_10{width:49.2%;}
.span_4_of_10{width:39.04%;}
.span_3_of_10{width:28.88%;}
.span_2_of_10{width:18.72%;}
.span_1_of_10{width:8.56%;}
@media only screen and (max-width:480px){.span_10_of_10{width:100%;} .span_9_of_10{width:100%;} .span_8_of_10{width:100%;} .span_7_of_10{width:100%;} .span_6_of_10{width:100%;} .span_5_of_10{width:100%;} .span_4_of_10{width:100%;} .span_3_of_10{width:100%;} .span_2_of_10{width:100%;} .span_1_of_10{width:100%;}}.span_11_of_11{width:100%;}
.span_10_of_11{width:90.76%;}
.span_9_of_11{width:81.52%;}
.span_8_of_11{width:72.29%;}
.span_7_of_11{width:63.05%;}
.span_6_of_11{width:53.81%;}
.span_5_of_11{width:44.58%;}
.span_4_of_11{width:35.34%;}
.span_3_of_11{width:26.1%;}
.span_2_of_11{width:16.87%;}
.span_1_of_11{width:7.63%;}
@media only screen and (max-width:480px){.span_11_of_11{width:100%;} .span_10_of_11{width:100%;} .span_9_of_11{width:100%;} .span_8_of_11{width:100%;} .span_7_of_11{width:100%;} .span_6_of_11{width:100%;} .span_5_of_11{width:100%;} .span_4_of_11{width:100%;} .span_3_of_11{width:100%;} .span_2_of_11{width:100%;} .span_1_of_11{width:100%;}}.span_12_of_12{width:100%;}
.span_11_of_12{width:91.53%;}
.span_10_of_12{width:83.06%;}
.span_9_of_12{width:74.6%;}
.span_8_of_12{width:66.13%;}
.span_7_of_12{width:57.66%;}
.span_6_of_12{width:49.2%;}
.span_5_of_12{width:40.73%;}
.span_4_of_12{width:32.26%;}
.span_3_of_12{width:23.8%;}
.span_2_of_12{width:15.33%;}
.span_1_of_12{width:6.86%;}
.span_6_of_12_complete{width:50%;}
@media only screen and (max-width:480px){.span_12_of_12{width:100%;} .span_11_of_12{width:100%;} .span_10_of_12{width:100%;} .span_9_of_12{width:100%;} .span_8_of_12{width:100%;} .span_7_of_12{width:100%;} .span_6_of_12{width:100%;} .span_5_of_12{width:100%;} .span_4_of_12{width:100%;} .span_3_of_12{width:100%;} .span_2_of_12{width:100%;} .span_1_of_12{width:100%;} .span_6_of_12_complete{width:100%;}}body{color:#888888;font:100%/1.4 'Open Sans',sans-serif;margin:0 auto;padding:0;text-align:center;}
p{color:#888888;line-height:1.62em;}
h1,h2,h3,h4,h5,h6{font-family:'nexa_boldregular',sans-serif;font-weight:normal;text-transform:uppercase;}
h1{font-size:2.75em;line-height:1.4;margin-bottom:.2em;}
h2{color:#bc223a;font-family:'nexa_lightregular',sans-serif;font-size:2.5em;line-height:1.2;margin-bottom:.5em;}
h3{color:#bc223a;font-size:1.75em;line-height:1.3;margin-bottom:.3em;}
h4{font-size:1.5em;line-height:1.25;margin-bottom:.5em;}
h5{font-size:1em;margin-bottom:1.25em;}
h6{font-size:1,12em;}
a{color:#bc223a;transition:all 0.3s ease;text-decoration:none;}a:visited{color:#1c1c1c;}
a:focus{outline:thin dotted;color:#888888;}
a:hover,a:active{outline:0;color:#5d5d5d;}
img{border:0;max-width:100%;height:auto;width:auto\9;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
button,search,input,select,textarea{font-family:'Open Sans',sans-serif;color:#888888;font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{box-sizing:content-box;}
input[type="text"]{background:none;border:3px solid #ffffff;color:#ffffff;font-family:'nexa_boldregular',sans-serif;padding:0.8em 1.5em;}
input[type="submit"],.view{background:rgba(0, 0, 0, 0.3);border:3px solid #bc223a;color:#ffffff;font-family:'nexa_boldregular',sans-serif;padding:0.8em 1.5em;text-transform:uppercase;transition:all 0.3s ease;}input[type="submit"]:hover,.view:hover{background:#bc223a;color:#ffffff;transition:all 0.3s ease;}
#loaderMask{text-align:center;padding-top:20%;z-index:9999;}
#loaderMask span{color:#bc223a;font-size:5em;font-family:'nexa_boldregular',sans-serif;}
a.view{color:#bc223a;}a.view:hover{color:#1c1c1c;}
.center{text-align:center !important;}
#wrapper{width:100%;position:relative;text-align:left;}#wrapper #inner-headcontainer{height:89px;position:fixed;width:100%;z-index:9990;zoom:1;}#wrapper #inner-headcontainer header.inner-header{background-color:#2a2a2a;overflow:hidden;position:relative;}#wrapper #inner-headcontainer header.inner-header .back{background:#bc223a;float:left;height:89px;width:89px;}#wrapper #inner-headcontainer header.inner-header .back a{background:url("images/back.png") no-repeat center center;display:block;height:89px;width:89px;}
#wrapper #inner-headcontainer header.inner-header #logo{background:#ffffff;height:73px;float:left;padding:8px 0px;text-align:center;vertical-align:top;width:114px;}
#wrapper #inner-headcontainer header.inner-header #options-bar{width:100%;}#wrapper #inner-headcontainer header.inner-header #options-bar #social-button{background:transparent url("images/social-button2.png") no-repeat 50% 50%;border-left:1px solid #323436;cursor:pointer;float:right;height:89px;width:85px;}#wrapper #inner-headcontainer header.inner-header #options-bar #social-button ul.social-options{display:none;position:fixed;right:0;top:89px;width:85px;}#wrapper #inner-headcontainer header.inner-header #options-bar #social-button ul.social-options li{border-top:1px solid #323436;display:block;list-style:none;}#wrapper #inner-headcontainer header.inner-header #options-bar #social-button ul.social-options li a{background:url("images/social-network-icons.png") no-repeat;display:block;height:85px;width:85px;}
#wrapper #inner-headcontainer header.inner-header #options-bar #social-button ul.social-options .facebook a{text-indent:-9999px;background-color:#2a2a2a;background-position:50% -27%;}#wrapper #inner-headcontainer header.inner-header #options-bar #social-button ul.social-options .facebook a:hover{background-color:#36589c;background-position:50% -27%;}
#wrapper #inner-headcontainer header.inner-header #options-bar #social-button ul.social-options .twitter a{text-indent:-9999px;background-color:#2a2a2a;background-position:50% 50%;}#wrapper #inner-headcontainer header.inner-header #options-bar #social-button ul.social-options .twitter a:hover{background-color:#2db2d9;background-position:50% 50%;}
#wrapper #inner-headcontainer header.inner-header #options-bar #social-button ul.social-options .rss a{background-color:#2a2a2a;background-position:50% 128%;}#wrapper #inner-headcontainer header.inner-header #options-bar #social-button ul.social-options .rss a:hover{background-color:#df9c16;background-position:50% 128%;}
#wrapper #headcontainer{height:89px;position:fixed;width:100%;z-index:9990;zoom:1;}#wrapper #headcontainer .grayback{background-color:#2a2a2a;-webkit-transition:background 0.5s ease;-moz-transition:background 0.5s ease;-o-transition:background 0.5s ease;-ms-transition:background 0.5s ease;transition:background 0.5s ease;background-image:none;}#wrapper #headcontainer .grayback #social-button{background:transparent url("images/social-button2.png") no-repeat 50% 50% !important;border-left:1px solid #323436 !important;}
#wrapper #headcontainer .grayback #menu-button{border-left:1px solid #323436 !important;}
#wrapper #headcontainer .grayback nav ul li{border-left:1px solid #323436 !important;}
#wrapper #headcontainer header{background-color:rgba(255, 255, 255, 0.4);background-image:url("images/pattern-white.png");overflow:hidden;position:relative;-webkit-transition:background 0.5s;-moz-transition:background 0.5s;-o-transition:background 0.5s;-ms-transition:background 0.5s;transition:background 0.5s;}#wrapper #headcontainer header #logo{background:#ffffff;height:73px;float:left;padding:8px 0px;text-align:center;vertical-align:top;width:114px;}
#wrapper #headcontainer header #options-bar{width:100%;}#wrapper #headcontainer header #options-bar #social-button{background:transparent url("images/social-button.png") no-repeat 50% 50%;border-left:1px solid #ffffff;cursor:pointer;float:right;height:89px;width:85px;}#wrapper #headcontainer header #options-bar #social-button ul.social-options{display:none;position:fixed;right:0;top:89px;width:85px;}#wrapper #headcontainer header #options-bar #social-button ul.social-options li{border-top:1px solid #323436;display:block;list-style:none;}#wrapper #headcontainer header #options-bar #social-button ul.social-options li a{background:url("images/social-network-icons.png") no-repeat;display:block;height:85px;width:85px;}
#wrapper #headcontainer header #options-bar #social-button ul.social-options .facebook a{background-color:#2a2a2a;background-position:50% -27%;}#wrapper #headcontainer header #options-bar #social-button ul.social-options .facebook a:hover{background-color:#36589c;background-position:50% -27%;}
#wrapper #headcontainer header #options-bar #social-button ul.social-options .twitter a{background-color:#2a2a2a;background-position:50% 50%;}#wrapper #headcontainer header #options-bar #social-button ul.social-options .twitter a:hover{background-color:#2db2d9;background-position:50% 50%;}
#wrapper #headcontainer header #options-bar #social-button ul.social-options .rss a{background-color:#2a2a2a;background-position:50% 128%;}#wrapper #headcontainer header #options-bar #social-button ul.social-options .rss a:hover{background-color:#df9c16;background-position:50% 128%;}
#wrapper #headcontainer header #options-bar #menu-button{display:none;}#wrapper #headcontainer header #options-bar #menu-button p{padding:3em 0;}
#wrapper #headcontainer header #options-bar nav{float:right;}#wrapper #headcontainer header #options-bar nav ul{font-size:0;margin:0px;padding:0px;}#wrapper #headcontainer header #options-bar nav ul li{border-left:1px solid #ffffff;display:inline-block;font-size:12.8px;list-style:none;vertical-align:top;}#wrapper #headcontainer header #options-bar nav ul li a{border-top:7px solid rgba(255, 255, 255, 0);color:#5d5d5d;display:inline-block;height:28px;font-family:'nexa_boldregular',sans-serif;font-size:12.8px;padding:2em;text-transform:uppercase;vertical-align:top;width:auto;}#wrapper #headcontainer header #options-bar nav ul li a:hover{border-top:7px solid #bc223a;color:#bc223a;height:28px;}
#wrapper #maincontentcontainer{width:100%;position:relative;}#wrapper #maincontentcontainer section#home{background:url("images/bg-home.jpg") no-repeat center top;position:relative;padding-bottom:2em;}#wrapper #maincontentcontainer section#home .mask{background:url("images/mask.png") no-repeat bottom center;position:absolute;left:0;bottom:0;height:123px;width:100%;}
#wrapper #maincontentcontainer section#home .maincontent{clear:both;max-width:62.5em;margin:0 auto;padding:12.2em 0 0;width:1000px;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home{background:rgba(0, 0, 0, 0.4) url("images/pattern-black.png");margin:0 auto;overflow:hidden;padding-bottom:3%;width:830px;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home .copy{float:left;padding-top:73px;width:43%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home .copy h2{color:#bc2e45;font-family:'nexa_boldregular',sans-serif;font-size:4.8em;line-height:0.85em;text-align:right;text-transform:uppercase;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home .copy h2 span{color:#ffffff;}
#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs{float:left;padding:0 2.4% 0 6%;width:48.6%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs .title{background:#bc223a;padding:6% 3% 6%;margin-bottom:3%;width:94%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs .title h3{color:#ffffff;font-family:'nexa_lightregular',sans-serif;font-size:1.6em;line-height:1.1em;margin-bottom:0;text-transform:uppercase;}
#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form{color:#ffffff;font-family:'nexa_boldregular',sans-serif;text-transform:uppercase;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form label{color:#ffffff;font-family:'nexa_boldregular',sans-serif;margin-right:1em;text-transform:uppercase;}
#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form input[type="number"],#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form select{border-radius:0px !important;background:rgba(0, 0, 0, 0.3);border:3px solid #ffffff;color:#ffffff;font-family:'nexa_boldregular',sans-serif;text-align:center;padding:0.3em 0.3em;}
#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form input[type="number"]{width:35px;}
#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form input[type=checkbox]{visibility:hidden;}
#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form .checkbox-1{display:inline-block;width:25px;height:25px;margin-left:10px;position:relative;background:#cccccc;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#f2f2f2));background:-webkit-linear-gradient(#ffffff, #f2f2f2);background:-moz-linear-gradient(#ffffff, #f2f2f2);background:-ms-linear-gradient(#ffffff, #f2f2f2);background:-o-linear-gradient(#ffffff, #f2f2f2);background:linear-gradient(#ffffff, #f2f2f2);-pie-background:linear-gradient(#ffffff, #f2f2f2);behavior:url(PIE.php);}
#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form .checkbox-1 label{background:none;display:block;width:25px;height:25px;cursor:pointer;position:absolute;top:0;left:0;z-index:1;transition:all .3s ease;}
#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form .checkbox-1 input[type=checkbox]:checked+label{background:#bc223a url("images/bg-check.png") no-repeat center center;width:25px;height:25px;}
#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form input[type="submit"]{margin-top:5%;width:100%;}
#wrapper #maincontentcontainer section#home .maincontent .next-button{background:#bc223a url("images/arrow-next-button.png") no-repeat 50% 48%;display:block;height:75px;margin:90px auto;position:relative;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);width:75px;transition:all 0.3s ease;}#wrapper #maincontentcontainer section#home .maincontent .next-button a{display:block;height:75px;width:75px;}
#wrapper #maincontentcontainer section#home .maincontent .next-button:hover{background:#ffffff url("images/arrow-next-button2.png") no-repeat 50% 48%;transition:all 0.3s ease;}
#wrapper #maincontentcontainer section#video{padding:3.5% 0px;position:relative;}#wrapper #maincontentcontainer section#video .maincontent{clear:both;max-width:62.5em;margin:0 auto;position:relative;width:1000px;}#wrapper #maincontentcontainer section#video .maincontent #player-image{background:url("images/bg-video.png") no-repeat center left;position:relative;height:689px;}#wrapper #maincontentcontainer section#video .maincontent #player-image .player-button{background:url("images/play-video-button.png") no-repeat;background-size:100%;display:block;height:112px;left:19em;position:absolute;top:50%;width:112px;}#wrapper #maincontentcontainer section#video .maincontent #player-image .player-button:hover{background-position:bottom left;transition:background-position 0.3s;transition-timing-function:ease;}
#wrapper #maincontentcontainer section#video .maincontent #video-title{right:0;position:absolute;top:200px;width:390px;}#wrapper #maincontentcontainer section#video .maincontent #video-title h2{font-family:'nexa_lightregular',sans-serif;font-size:1.5em;margin-bottom:0;text-indent:0.5em;text-transform:uppercase;}
#wrapper #maincontentcontainer section#video .maincontent #video-title .subtitle-red{background:#bc223a;color:#ffffff;font-family:'nexa_boldregular',sans-serif;font-size:4.3em;line-height:1em;padding:2% 2% 0;text-transform:uppercase;width:96%;}
#wrapper #maincontentcontainer section#video .maincontent #video-title .subtitle-black{background:#2a2a2a;color:#ffffff;font-family:'nexa_lightregular',sans-serif;font-size:3.2em;line-height:1em;padding:2% 2% 0;text-transform:uppercase;width:96%;}
#wrapper #maincontentcontainer section#newsletter{padding:5.5em 0 0;position:relative;}#wrapper #maincontentcontainer section#newsletter .maincontent{background-image:url("images/pattern-black2.png"),url("images/bg-newsletter.jpg");background-position:0 0, 0 25%;background-repeat:repeat,no-repeat;clear:both;padding:6% 0;position:relative;width:100%;}#wrapper #maincontentcontainer section#newsletter .maincontent .content{clear:both;max-width:62.5em;margin:0 auto;position:relative;width:1000px;}#wrapper #maincontentcontainer section#newsletter .maincontent .content p{color:#ffffff;font-family:'nexa_lightregular',sans-serif;font-size:2.25em;line-height:1.2em;text-transform:uppercase;}
#wrapper #maincontentcontainer section#newsletter .maincontent .content div#cc_form_1{background-color:transparent;border:none;width:40.73%;padding:0;}#wrapper #maincontentcontainer section#newsletter .maincontent .content div#cc_form_1 .kws_input_fields{float:left;text-align:left;}#wrapper #maincontentcontainer section#newsletter .maincontent .content div#cc_form_1 .kws_input_fields .kws_input_container{float:left;margin-top:0.5em;}
#wrapper #maincontentcontainer section#newsletter .maincontent .content div#cc_form_1 .kws_input_fields .cc_email_address{margin-right:0.5em;}
#wrapper #maincontentcontainer section#home-designs{background:#1c1c1c;padding:5.5em 0 0;position:relative;}#wrapper #maincontentcontainer section#home-designs .maincontent{clear:both;position:relative;width:100%;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects{position:relative;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul{overflow:hidden;margin:0px;padding:0px;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project{background:#1c1c1c;box-sizing:border-box;display:block;float:left;margin:0 !important;position:relative;width:25%;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project img{float:left;height:auto;width:auto;}
#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project .project-info{display:none;position:absolute;height:300px;top:0;left:0;bottom:0;right:0;margin:auto;padding:0 10%;text-align:center;z-index:99;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project .project-info h3{color:#ffffff;font-family:'nexa_boldregular',sans-serif;font-size:1.2em;line-height:1.7em;margin:0 0 0.5em 0;padding:0 0 0.5em 0;text-transform:uppercase;}
#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project .project-info p{color:#999999;margin:0 0 5% 0;padding:0;}
#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project .project-info .button-view{display:block;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project .project-info .button-view a{color:#ffffff;cursor:pointer;display:inline-block;margin-top:0.5em;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project .project-info .button-view a a:hover{color:#ffffff;}
#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul.flex-direction-nav{display:block;float:left;height:80px;width:100%;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul.flex-direction-nav li{display:block;list-style:none;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul.flex-direction-nav li a{cursor:pointer;display:block;height:80px;width:50%;}
#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul.flex-direction-nav li a.flex-prev{background:#999999 url("images/arrow-prev.png") no-repeat 5% 66%;width:50%;float:left;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul.flex-direction-nav li a.flex-prev:hover{background:#bc223a url("images/arrow-prev.png") no-repeat 5% 66%;}
#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul.flex-direction-nav li a.flex-next{background:#999999 url("images/arrow-next.png") no-repeat 95% 66%;width:50%;float:right;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul.flex-direction-nav li a.flex-next:hover{background:#bc223a url("images/arrow-next.png") no-repeat 95% 66%;}
#wrapper #maincontentcontainer section#poconos{background:#f5f5f5;padding:10em 0;position:relative;}#wrapper #maincontentcontainer section#poconos .maincontent{clear:both;max-width:62.5em;margin:0 auto;position:relative;width:1000px;}#wrapper #maincontentcontainer section#poconos .maincontent .section{text-align:center;}#wrapper #maincontentcontainer section#poconos .maincontent .section h2{color:#1c1c1c;font-family:'nexa_boldregular',sans-serif;text-align:center;text-transform:uppercase;font-size:3.75em;}#wrapper #maincontentcontainer section#poconos .maincontent .section h2 span{color:#bc223a;font-family:'nexa_lightregular',sans-serif;}
#wrapper #maincontentcontainer section#poconos .maincontent .section p{text-align:center;margin:1em 0;}
#wrapper #maincontentcontainer section#poconos .maincontent .section a{background:none;display:inline-block;}#wrapper #maincontentcontainer section#poconos .maincontent .section a:hover{background:#bc223a;color:#ffffff;}
#wrapper #maincontentcontainer section#media{background:#232323;padding:10em 0 7em;position:relative;}#wrapper #maincontentcontainer section#media .maincontent{clear:both;max-width:62.5em;margin:0 auto;position:relative;width:1000px;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media{width:100%;position:relative;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ul{overflow:hidden;margin:0px;padding:0px;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ul li article{max-height:498px;overflow:hidden;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ul li article p.date{color:#b1ac9a;margin-bottom:1em;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ul li article p.date time{font-style:italic;font-weight:bold;}
#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ul li article h3{color:#bc223a;font-size:1.5em;height:4em;line-height:1.2em;margin-bottom:1em;text-transform:uppercase;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ul li article h3 a{color:#bc223a;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ul li article h3 a:hover{color:#bc223a;text-decoration:underline;}
#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ul li article p{line-height:1.5em;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ul li article p a{color:#bc223a;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ul li article p a:hover{color:#ffffff;text-decoration:underline;}
#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ol{margin-top:3em;text-align:center;width:100%;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ol li{display:inline-block;margin:0 1em;}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ol li a{background:#ffffff;border:3px solid #ffffff;display:inline-block;height:0.6em;text-indent:-9999px;width:0.6em;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(PIE.php);}#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ol li a:hover{background:transparent;border:3px solid #bc223a;}
#wrapper #maincontentcontainer section#media .maincontent #slideshow-media ol li a.flex-active{background:#bc223a;border:3px solid #bc223a;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(PIE.php);}
#wrapper #maincontentcontainer section#about{background:#f5f5f5;padding:8em 0;position:relative;}#wrapper #maincontentcontainer section#about .maincontent{clear:both;max-width:62.5em;margin:0 auto;position:relative;width:1000px;}#wrapper #maincontentcontainer section#about .maincontent .topic{padding:0 4%;text-align:center;margin-bottom:0.5em;width:92%;}#wrapper #maincontentcontainer section#about .maincontent .topic .icon{background-color:#bc223a;display:block;height:75px;margin:0 auto 2em;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);width:75px;}
#wrapper #maincontentcontainer section#about .maincontent .topic .history{background-image:url("images/history-icon.png");background-position:52% 54%;background-repeat:no-repeat;}
#wrapper #maincontentcontainer section#about .maincontent .topic .promise{background-image:url("images/promise-icon.png");background-position:47% 48%;background-repeat:no-repeat;}
#wrapper #maincontentcontainer section#about .maincontent .topic .studio{background-image:url("images/design-icon.png");background-position:48% 50%;background-repeat:no-repeat;}
#wrapper #maincontentcontainer section#about .maincontent .topic .financing{background-image:url("images/financing-icon.png");background-position:52% 51%;background-repeat:no-repeat;}
#wrapper #maincontentcontainer section#about .maincontent .topic h3{color:#1c1c1c;font-size:1.12em;text-transform:uppercase;margin-bottom:2em;}#wrapper #maincontentcontainer section#about .maincontent .topic h3 a:hover{color:#bc223a;}
#wrapper #maincontentcontainer section#about .maincontent .topic p{margin-bottom:1em;}
#wrapper #maincontentcontainer section#about .maincontent .topic a.readmore{border-top:1px solid #a4283c;color:#a4283c;display:inline-block;padding:0 2.5em;}#wrapper #maincontentcontainer section#about .maincontent .topic a.readmore span{background:#f5f5f5;display:block;font-style:italic;font-weight:bold;margin-top:-0.8em;padding:0 0.4em;}
#wrapper #maincontentcontainer section#about .maincontent .topic a.readmore:hover{color:#1c1c1c;}
#wrapper #maincontentcontainer section#inner-page{padding:9em 0 0;position:relative;}#wrapper #maincontentcontainer section#inner-page .maincontent{clear:both;padding:0;position:relative;width:100%;}#wrapper #maincontentcontainer section#inner-page .maincontent .content{clear:both;max-width:62.5em;margin:0 auto 4em;position:relative;text-align:center;width:1000px;}#wrapper #maincontentcontainer section#inner-page .maincontent .content h1{color:#1c1c1c;font-family:'nexa_boldregular',sans-serif;text-align:center;text-transform:uppercase;font-size:3.75em;line-height:1em;}#wrapper #maincontentcontainer section#inner-page .maincontent .content h1 span{color:#bc223a;font-family:'nexa_lightregular',sans-serif;}
#wrapper #maincontentcontainer section#inner-page .maincontent .content p span.highlight{color:#bc223a;font-size:1.8em;text-transform:uppercase;font-weight:400;line-height:1.3em;}
#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow{width:100%;position:relative;overflow:hidden;}#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ol{position:absolute;bottom:1em;text-align:center;width:100%;z-index:999;}#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ol li{display:inline-block;margin:0 1em;}#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ol li a{background:#ffffff;border:3px solid #ffffff;display:inline-block;height:0.6em;text-indent:-9999px;width:0.6em;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(PIE.php);}#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ol li a:hover{background:transparent;border:3px solid #bc223a;}
#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ol li a.flex-active{background:#bc223a;border:3px solid #bc223a;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;behavior:url(PIE.php);}
#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ul{margin:0px;padding:0px;}#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ul li .image{height:auto;width:auto;}#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ul li .image img{float:left;max-width:400%;background-position:center center;}
#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ul li .text{background-color:rgba(0, 0, 0, 0.5);background-image:url("images/pattern-black.png");position:absolute;text-align:center;left:0;bottom:0;padding:2em 0 3em;width:100%;}#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ul li .text .content-block{clear:both;max-width:62.5em;margin:0 auto 2em;position:relative;width:52.6%;}#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ul li .text .content-block h2{color:#ffffff;font-size:1.5em;}
#wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ul li .text .content-block p{color:#ffffff;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline{width:500px;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline ul.dates{width:100px;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline ul.dates li{background:none;padding-left:0;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline ul.dates li a{color:#bc223a;font-family:'nexa_boldregular',sans-serif;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline ul.issues{padding:100px 0;width:400px;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline ul.issues li{background:none;padding-left:0;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline ul.issues li h3{color:#1c1c1c;text-align:center;text-transform:inherit;text-shadow:none;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .ngg-galleryoverview{margin-top:50px;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .ngg-galleryoverview .ngg-gallery-thumbnail-box .ngg-gallery-thumbnail a img{background:none;border:none;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7{width:700px;margin:0 auto;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form{border:3px solid #f5f5f5;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form .tr{float:left;padding:2% 2%;width:96%;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form .tr:nth-child(odd){background:#f5f5f5;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form .tr .td{float:left;width:50%;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form .tr span.wpcf7-form-control-wrap input.wpcf7-captchar{width:114px !important;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form .optional{background:#1c1c1c !important;color:#ffffff;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form .btns{clear:both;padding:2% 2%;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form select{height:3.2em;width:95% !important;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form input[type="text"],#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form input[type="email"],#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form select,#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form textarea{background:none;border:3px solid #bc223a;color:#888888;font-family:'nexa_boldregular',sans-serif;margin-top:0.4em;padding:0.8em 1.5em;width:80%;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form input[type="submit"],#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form input[type="reset"]{background:#ffffff;border:3px solid #bc223a;color:#bc223a;font-family:'nexa_boldregular',sans-serif;padding:0.8em 1.5em;text-transform:uppercase;transition:all 0.3s ease;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form input[type="submit"]:hover,#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form input[type="reset"]:hover{background:#bc223a;color:#ffffff;transition:all 0.3s ease;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses ul li{list-style:none;padding-left:1em;background:transparent url("images/list-bullet.png") no-repeat;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .referral{border:3px solid #f5f5f5;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .referral .tr{padding:1.5em 2em;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .referral .tr span.highlight{color:#bc223a;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .referral .title{background:#bc223a;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .referral .title h2{color:#ffffff;margin-bottom:0;}
#wrapper #maincontentcontainer section#inner-page .maincontent .houses .referral .requirements{background:#f5f5f5;}
#wrapper #footercontainer{position:realtive;}#wrapper #footercontainer footer{text-transform:uppercase;}#wrapper #footercontainer footer .black-half{background:#232323;display:block;float:left;padding:18em 0;}#wrapper #footercontainer footer .black-half .finder{color:#ffffff;font-family:'nexa_boldregular',sans-serif;float:right;text-align:center;height:200px;padding:0 2em;}#wrapper #footercontainer footer .black-half .finder h3{color:#ffffff;font-size:2.25em;margin-bottom:1em;}
#wrapper #footercontainer footer .black-half .finder .button-finder{display:block;}#wrapper #footercontainer footer .black-half .finder .button-finder a{color:#ffffff;display:inline-block;}
#wrapper #footercontainer footer .gray-half{background:#d5d5d5;display:block;float:left;padding:18em 0;}#wrapper #footercontainer footer .gray-half .contact-info{font-family:'nexa_boldregular',sans-serif;color:#1c1c1c;float:left;height:200px;padding:0 2em;}#wrapper #footercontainer footer .gray-half .contact-info .e-mail{background:url("images/contact-icons.png") no-repeat 0 0;margin-bottom:1em;padding:0.2em 0 1em 4em;}#wrapper #footercontainer footer .gray-half .contact-info .e-mail a{color:#1c1c1c;}#wrapper #footercontainer footer .gray-half .contact-info .e-mail a:hover{color:#bc223a;}
#wrapper #footercontainer footer .gray-half .contact-info .phone{background:url("images/contact-icons.png") no-repeat 0 -66px;margin-bottom:1em;padding:0.2em 0 1em 4em;}
#wrapper #footercontainer footer .gray-half .contact-info .address{background:url("images/contact-icons.png") no-repeat 0 -143px;margin-bottom:1em;padding:0.2em 0 1em 4em;}
#wrapper #footercontainer footer .copyright{text-align:center;width:100%;}#wrapper #footercontainer footer .copyright p{line-height:3.2em;}#wrapper #footercontainer footer .copyright p a{color:#bc223a;}#wrapper #footercontainer footer .copyright p a:hover{color:#1c1c1c;}
html{-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:#349edb;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
.clearfix{zoom:1;}
::-webkit-selection{background:#1777af;color:#fafafa;text-shadow:none;}
::-moz-selection{background:#1777af;color:#fafafa;text-shadow:none;}
::selection{background:#1777af;color:#fafafa;text-shadow:none;}
button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;}
::-webkit-input-placeholder{font-size:.875em;line-height:1.4;}
input:-moz-placeholder{font-size:.875em;line-height:1.4;}
.ie7 img,.iem7 img{-ms-interpolation-mode:bicubic;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
p{-webkit-hyphens:auto;-webkit-hyphenate-character:"\2010";-webkit-hyphenate-limit-after:1;-webkit-hyphenate-limit-before:3;-moz-hyphens:auto;}
@media only screen and (max-width:1000px){#wrapper #maincontentcontainer section#home .maincontent{width:93.75%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home{padding-bottom:3%;width:100%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home .copy h2{}}@media only screen and (max-width:1280px){#menu-button{border-left:1px solid #ffffff;float:right;display:block !important;background:url("images/menu-icon.png") no-repeat 20px 32px;color:#5d5d5d;display:block;height:89px;font-family:'nexa_boldregular',sans-serif;font-size:0.8em;line-height:6.95em;padding:0 2em 0 5em;text-transform:uppercase;width:auto;cursor:pointer;}#menu-button:hover{color:#bc223a;} nav{background:#2a2a2a;float:none!important;display:none;position:fixed;right:0;top:89px;width:320px;z-index:999;}nav ul{margin:0px;padding:0px;}nav ul li{border-top:1px solid #323436;border-left:none !important;display:block !important;list-style:none;vertical-align:top;}nav ul li a{border-top:none !important;color:#5d5d5d;display:block !important;height:28px;font-family:'nexa_boldregular',sans-serif;font-size:0.8em;padding:2em;text-transform:uppercase;vertical-align:top;width:auto;}nav ul li a:hover{background:#232323;border-top:none !important;color:#bc223a;height:38px !important;}}@media only screen and (max-width:320px){#wrapper #headcontainer header #options-bar #menu-button{background:url("images/menu-icon.png") no-repeat center center;}#wrapper #headcontainer header #options-bar #menu-button p{display:none !important;} #wrapper #headcontainer header #options-bar nav{text-align:center;}}@media only screen and (max-width:600px){#wrapper #maincontentcontainer section#home .maincontent{width:100%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home{width:100%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home .copy{display:none;} #wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs{padding:0;width:100%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form{margin:0 auto;width:90%;} #wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7{width:100%;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form .tr{padding:4% 2% 4%;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form .tr .td{width:100%;}}@font-face{font-family:'nexa_boldregular';src:url('css/fonts/Nexa_Bold-webfont.eot');src:url('css/fonts/Nexa_Bold-webfont.eot?#iefix') format('embedded-opentype'),url('css/fonts/Nexa_Bold-webfont.woff') format('woff'),url('css/fonts/Nexa_Bold-webfont.ttf') format('truetype'),url('css/fonts/Nexa_Bold-webfont.svg#nexa_boldregular') format('svg');}@font-face{font-family:'nexa_lightregular';src:url('css/fonts/Nexa_Light-webfont.eot');src:url('css/fonts/Nexa_Light-webfont.eot?#iefix') format('embedded-opentype'),url('css/fonts/Nexa_Light-webfont.woff') format('woff'),url('css/fonts/Nexa_Light-webfont.ttf') format('truetype'),url('css/fonts/Nexa_Light-webfont.svg#nexa_lightregular') format('svg');}@media only screen and (max-width:1024px) and (min-width:769px){header{width:100%;} footer{width:100%;} #wrapper #maincontentcontainer section#home .maincontent{width:93.75%;} #wrapper #maincontentcontainer section#video .maincontent{width:93.75%;} #wrapper #maincontentcontainer section#newsletter .maincontent .content{width:93.75%;} #wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project{width:50%;}#wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project img{width:100%;height:100%;} #wrapper #maincontentcontainer section#poconos .maincontent{width:93.75%;} #wrapper #maincontentcontainer section#media .maincontent{width:93.75%;} #wrapper #maincontentcontainer section#about .maincontent{width:93.75%;} #wrapper #maincontentcontainer section#inner-page .maincontent .content{width:93.75%;} #wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ul li .text .content-block{width:93.75%;}}@media only screen and (max-width:768px) and (min-width:481px){header{width:100%;} .span_6_of_12_complete{width:100%;} #wrapper #maincontentcontainer section#home .maincontent{width:93.75%;} #wrapper #maincontentcontainer section#video{padding:2em 0px;}#wrapper #maincontentcontainer section#video .maincontent{width:93.75%;}#wrapper #maincontentcontainer section#video .maincontent #player-image{background-size:100%;}#wrapper #maincontentcontainer section#video .maincontent #player-image .player-button{background-size:100%;left:43%;top:50%;} #wrapper #maincontentcontainer section#video .maincontent #video-title{margin:0 auto;position:relative;top:0;width:90%;} #wrapper #maincontentcontainer section#newsletter .maincontent .content{width:93.75%;}#wrapper #maincontentcontainer section#newsletter .maincontent .content p{width:100%;} #wrapper #maincontentcontainer section#newsletter .maincontent .content form{width:100%;} #wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project{width:50%;} #wrapper #maincontentcontainer section#poconos .maincontent{width:93.75%;} #wrapper #maincontentcontainer section#media .maincontent{width:93.75%;} #wrapper #maincontentcontainer section#about .maincontent{width:93.75%;} #wrapper #maincontentcontainer section#inner-page .maincontent .content{width:93.75%;} #wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ul li .text .content-block{width:93.75%;} #wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7{width:93.75%;} #wrapper #footercontainer footer{width:100%;}#wrapper #footercontainer footer .black-half{padding:10em 0;}#wrapper #footercontainer footer .black-half .finder{height:auto;width:90%;} #wrapper #footercontainer footer .gray-half{padding:10em 0;}#wrapper #footercontainer footer .gray-half .contact-info{height:auto;float:none;margin:0 auto;width:42%;}}@media only screen and (max-width:480px){header{width:100%;} #wrapper #headcontainer header{background-color:#2a2a2a;-webkit-transition:background 0.5s ease;-moz-transition:background 0.5s ease;-o-transition:background 0.5s ease;-ms-transition:background 0.5s ease;transition:background 0.5s ease;background-image:none;}#wrapper #headcontainer header #social-button{background:transparent url("images/social-button2.png") no-repeat 50% 50% !important;border-left:1px solid #323436 !important;} #wrapper #headcontainer header #menu-button{border-left:1px solid #323436 !important;} #wrapper #headcontainer header nav ul li{border-left:1px solid #323436 !important;}#wrapper #headcontainer header nav ul li a{height:20px !important;padding:1em 2em !important;}#wrapper #headcontainer header nav ul li a:hover{height:30px !important;} #wrapper #maincontentcontainer section#home{padding-bottom:0;}#wrapper #maincontentcontainer section#home .mask{display:none;} #wrapper #maincontentcontainer section#home .maincontent{padding:5.55em 0 0;width:100%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home{width:100%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home .copy{display:none;} #wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs{padding:0;width:100%;}#wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs .title h3{font-size:1.5em;} #wrapper #maincontentcontainer section#home .maincontent #box-form-home #form-home-designs form{padding:19% 5% 25%;width:90%;} #wrapper #maincontentcontainer section#home .maincontent .next-button{display:none;} #wrapper #maincontentcontainer section#video{padding:2em 0px;}#wrapper #maincontentcontainer section#video .maincontent{width:100%;}#wrapper #maincontentcontainer section#video .maincontent #player-image{background-size:100%;height:390px;}#wrapper #maincontentcontainer section#video .maincontent #player-image .player-button{background-size:100%;height:60px;left:43%;top:48%;width:60px;} #wrapper #maincontentcontainer section#video .maincontent #video-title{margin:0 auto;position:relative;top:0;width:90%;} #wrapper #maincontentcontainer section#newsletter .maincontent .content{width:93.75%;}#wrapper #maincontentcontainer section#newsletter .maincontent .content div#cc_form_1{width:93.75%;} #wrapper #maincontentcontainer section#home-designs .maincontent #slideshow-projects ul li .design-project{width:100%;} #wrapper #maincontentcontainer section#poconos{padding:30% 0 15%;}#wrapper #maincontentcontainer section#poconos .maincontent{width:93.75%;}#wrapper #maincontentcontainer section#poconos .maincontent .section h2{line-height:1em;margin-bottom:0.3em;} #wrapper #maincontentcontainer section#poconos .maincontent .section p{margin:0.5em 0 0.5em;} #wrapper #maincontentcontainer section#poconos .maincontent .section img{display:none;} #wrapper #maincontentcontainer section#media{padding:30% 0 15%;}#wrapper #maincontentcontainer section#media .maincontent{width:93.75%;}#wrapper #maincontentcontainer section#media .maincontent article{border-bottom:1px solid #323436;}#wrapper #maincontentcontainer section#media .maincontent article p.date{margin-bottom:1em;display:block;} #wrapper #maincontentcontainer section#media .maincontent article h3{height:auto;margin-bottom:1em;} #wrapper #maincontentcontainer section#media .maincontent article p{display:none;} #wrapper #maincontentcontainer section#media .maincontent article br{display:none;} #wrapper #maincontentcontainer section#media .maincontent .pagination{margin-top:3em;} #wrapper #maincontentcontainer section#about{padding:30% 0 15%;}#wrapper #maincontentcontainer section#about .maincontent{width:93.75%;}#wrapper #maincontentcontainer section#about .maincontent .topic p,#wrapper #maincontentcontainer section#about .maincontent .topic a.readmore{display:none;} #wrapper #maincontentcontainer section#inner-page .maincontent .content{width:93.75%;} #wrapper #maincontentcontainer section#inner-page .maincontent #slider-wrapper #slideshow ul li .text .content-block{width:93.75%;} #wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline{width:100%;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline ul.dates{width:22%;} #wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline ul.issues{width:78%;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .timelinr-1 .timeline ul.issues li{width:100%;} #wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7{width:100%;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form .tr{padding:4% 2%;}#wrapper #maincontentcontainer section#inner-page .maincontent .houses .wpcf7 form .tr .td{width:100%;} #wrapper #footercontainer footer{width:100%;}#wrapper #footercontainer footer .black-half{padding:5em 0;}#wrapper #footercontainer footer .black-half .finder{height:auto;} #wrapper #footercontainer footer .gray-half{padding:7em 0 5em;}#wrapper #footercontainer footer .gray-half .contact-info{height:auto;} .span_8_of_8{width:100%;margin-left:0;} .span_7_of_8{width:100%;margin-left:0;} .span_6_of_8{width:100%;margin-left:0;} .span_5_of_8{width:100%;margin-left:0;} .span_4_of_8{width:100%;margin-left:0;} .span_3_of_8{width:74.2%;margin:1% 0 1% 3.2%;} .span_2_of_8{width:48.4%;margin:1% 0 1% 3.2%;} .span_1_of_8{width:22.6%;margin:1% 0 1% 3.2%;} .span_1_of_8:nth-child(4n+1){clear:both;margin-left:0;} #example .maincontent .span_8_of_8{width:100%;margin-left:0;} #example .maincontent .span_7_of_8{width:100%;margin-left:0;} #example .maincontent .span_6_of_8{width:100%;margin-left:0;} #example .maincontent .span_5_of_8{width:100%;margin-left:0;} #example .maincontent .span_4_of_8{width:100%;margin-left:0;} #example .maincontent .span_3_of_8{width:100%;margin-left:0;} #example .maincontent .span_2_of_8{width:100%%;margin-left:0;} #example .maincontent .span_1_of_8{width:100%;margin-left:0;} #sample .maincontent .span_8_of_8{width:100%;margin-left:0;} #sample .maincontent .span_7_of_8{width:100%;margin-left:0;} #sample .maincontent .span_6_of_8{width:100%;margin-left:0;} #sample .maincontent .span_5_of_8{width:100%;margin-left:0;} #sample .maincontent .span_4_of_8{width:100%;margin-left:0;} #sample .maincontent .span_3_of_8{width:100%;margin-left:0;} #sample .maincontent .span_2_of_8{width:100%%;margin-left:0;} #sample .maincontent .span_1_of_8{width:100%;margin-left:0;}}@-moz-document url-prefix(){}@media screen and (-webkit-min-device-pixel-ratio:0){}html.ie-8{}
html.ie-7{}
html.no-js{}
html.mac{}
